<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <title>
        
        Alerts &middot; edX Pattern Library
        
    </title>

    <meta name="description" content="The Visual, UI, and Front End styleguide for edX's applications">

    <link rel="stylesheet" href="/public/css/main-ltr.css">

</head>


<body class="pldoc view-">
    <div class="pldoc-nav-skip sr-only">
        <a class="pldoc-action-skip" href="#content-main">Skip to the main content</a>
    </div>

    <hr class="pldoc-divider sr-only">

    <div class="pldoc-wrapper-view">
        <div class="pldoc-wrapper-header-site">
    <header class="pldoc-header-site" role="banner" aria-labelledby="pldoc-header-site-title">
        <div class="pldoc-header-main">
            <h1 class="hd-2 de-emphasized pldoc-header-site-title">
                <a href="/">
                    <img class="pldoc-header-logo" src="/./public/images/edx-logo.svg"
                         alt="edX Pattern Library home" />
                    <span>Pattern Library</span>
                </a>
            </h1>
        </div>
    </header>
</div>


        <div class="pldoc-wrapper-content" id="content-top" tabindex="-1">
            <div class="pldoc-content">
                <div class="pldoc-wrapper-content-supplemental">
                    <nav class="pldoc-nav pldoc-nav-internal" role="navigation" aria-label="edX Pattern Library">
    <h2 class="pldoc-heading pldoc-nav-title hd-6">edX Pattern Library</h2>
    <ul class="list-unstyled list-patterns">
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./">
    
    Introduction
    
        </a>
    
</li>

    </ul>
</nav>


<nav class="pldoc-nav pldoc-nav-internal" role="navigation" aria-label="Design Elements">
    <h2 class="pldoc-heading pldoc-nav-title hd-6">Design Elements</h2>
    <ul class="list-unstyled list-patterns">
    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/colors/">
    
    Colors
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/copy/">
    
    Copy
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/grid/">
    
    Grid System
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/headings/">
    
    Headings
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/icons/">
    
    Icons
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/layouts/">
    
    Layouts
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./design_elements/depth/">
    
    UI Depth
    
        </a>
    
</li>

    
    </ul>
</nav>



<nav class="pldoc-nav pldoc-nav-internal" role="navigation" aria-label="Components">
    <h2 class="pldoc-heading pldoc-nav-title hd-6">Components</h2>
    <ul class="list-unstyled list-patterns">
    
        <li class="item no-indent is-current">
    
    Alerts
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./components/buttons/">
    
    Buttons
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./components/dropdown-menu/">
    
    Dropdown Menu
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./components/forms/">
    
    Forms
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./components/lists/">
    
    Lists
    
        </a>
    
</li>

    
        <li class="item no-indent ">
    
        <a class="pattern-title pattern pldoc-link" href="/./components/tables/">
    
    Tables
    
        </a>
    
</li>

    
    </ul>
</nav>


                </div>

                <hr class="pldoc-divider sr-only">

                <div class="pldoc-wrapper-content-main">
                    <main class="pldoc-content-main" id="content-main" aria-label="Content">
                        


<section class="pldoc-wrapper-pattern">
    <article class="pldoc-pattern pldoc-pattern-alerts" id="alerts" tabindex="-1" aria-label="alerts">

        <header class="pldoc-pattern-header">
            <h1 class="pldoc-heading pldoc-pattern-title hd-4">Alerts</h1>

            <ul class="list-inline pldoc-pattern-meta copy-micro de-emphasized">
                
                
            </ul>
        </header>

        <div class="pldoc-pattern-info">
            <p class="copy-base">When something goes wrong, alerts clarify an issue and/or notify users of the problem, communicate the severity of the issue, and provide an actionable next step, if necessary. When implementing the alert pattern, consider the alert’s location; closer proximity to the action/event associates the issue (and hence resolution) with a specific page element, whereas more distant placement communicates a more systematic issue. Seek to balance graphic and content elements, where less is usually more. We recommend reading stuff about "microcopy."</p>
        </div>

        

        <div class="pldoc-tab-wrapper">
            
            <ul class="pldoc-tab-labels pldoc-pattern-navigation">
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-preview is-active" data-href="#alerts-preview">Preview</button>
                </li>
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-markup" data-href="#alerts-markup">Markup</button>
                </li>
                
                
                <li class="pldoc-tab-label">
                    <button class="pldoc-link pldoc-link-styling" data-href="#alerts-styling">Styling</button>
                </li>
                
            </ul>
            

            <div class="pldoc-tabs">
                <div class="pldoc-tab pldoc-pattern-preview is-active" id="alerts-preview" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-pattern-preview-title">Alerts Preview</h2>

                    <div class="pldoc-tab-content">
                        

                        <h3 class="hd-6 example-set-hd">Error Alert with Message and Button</h3>
<div class="example-set">
    <div class="alert alert-error" role="alert" aria-labelledby="alert-title-error" tabindex="-1">
        <span class="icon alert-icon icon-warning" aria-hidden="true"></span>

        <div class="alert-message-with-action">
            <h3 class="sr-only alert-title" id="alert-title-error">
                Unable to load chart.
            </h3>

            <p class="alert-copy">
                We are unable to load this chart.
            </p>
        </div>

        <button type="button" class="alert-action btn-neutral btn">
            Read More <span class="sr-only">about charts</span>
        </button>
    </div>
</div>

<h3 class="hd-6 example-set-hd">Success Alert with Title and Message</h3>
<div class="example-set">
    <div class="alert alert-success" role="alert" aria-labelledby="alert-title-success" tabindex="-1">
        <span class="icon alert-icon icon-check" aria-hidden="true"></span>

        <div class="alert-message">
            <h3 class="alert-title" id="alert-title-success">
                We've received your essay submission!
            </h3>

            <p class="alert-copy-with-title">
                Hang tight while the rest of the class catches up.  We'll let you know
                when your peers have graded your essay and when you can help grade theirs
                as well.  In the meantime,
                <a href="http://example.com">check out what's next in the course</a>.
            </p>
        </div>
    </div>
</div>

<h3 class="hd-6 example-set-hd">Warning Alert with Title, Message, and Button</h3>
<div class="example-set">
    <div class="alert alert-warning" role="alert" aria-labelledby="alert-title-warning" tabindex="-1">
        <span class="icon alert-icon icon-warning" aria-hidden="true"></span>

        <div class="alert-message-with-action">
            <h3 class="alert-title" id="alert-title-warning">
                Waiting for Peer Responses
            </h3>

            <p class="alert-copy-with-title">
                All submitted peer responses have been assessed.  Check back later to see if
                more students have submitted responses.  You'll receive your grade after you've
                completed all the steps for this problem and your peers have assessed your
                responses.
            </p>
        </div>

        <button type="button" class="alert-action btn-neutral btn">
            Reload <span class="sr-only">peer responses</span>
        </button>
    </div>
</div>

<h3 class="hd-6 example-set-hd">Warning Alert with Message Only</h3>
<div class="example-set">
    <div class="alert alert-warning" role="alert" aria-labelledby="alert-warning-publish-title" tabindex="-1">
        <span class="icon alert-icon icon-warning" aria-hidden="true"></span>

        <div class="alert-message">
            <h3 class="sr-only alert-title" id="alert-warning-publish-title">
                Caution: The last published version of this unit is live.
            </h3>

            <p class="alert-copy">
                Caution: The last published version of this unit is live.  By publishing
                changes you will change the student experience.
            </p>
        </div>

    </div>
</div>

<h3 class="hd-6 example-set-hd">Information Alert with Title and Message</h3>
<div class="example-set">
    <div class="alert alert-information" role="alert" aria-labelledby="alert-title-information" tabindex="-1">
        <span class="icon alert-icon icon-bullhorn" aria-hidden="true"></span>

        <div class="alert-message">
            <h3 class="alert-title" id="alert-title-information">
                A better measure of total interest in your course
            </h3>

            <p class="alert-copy-with-title">
                The total enrollment metric below now includes all students who
                have ever registered for this course.
            </p>
        </div>
    </div>
</div>

                    </div>
                </div>

                
                <div class="pldoc-tab pldoc-pattern-markup is-hidden" id="alerts-markup" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-pattern-markup-title">Alerts Markup</h2>

                    <div class="pldoc-tab-content">
                        
<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"hd-6 example-set-hd"</span><span class="nt">&gt;</span>Error Alert with Message and Button<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"example-set"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-error"</span> <span class="na">role=</span><span class="s">"alert"</span> <span class="na">aria-labelledby=</span><span class="s">"alert-title-error"</span> <span class="na">tabindex=</span><span class="s">"-1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon alert-icon icon-warning"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-message-with-action"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"sr-only alert-title"</span> <span class="na">id=</span><span class="s">"alert-title-error"</span><span class="nt">&gt;</span>
                Unable to load chart.
            <span class="nt">&lt;/h3&gt;</span>

            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-copy"</span><span class="nt">&gt;</span>
                We are unable to load this chart.
            <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"alert-action btn-neutral btn"</span><span class="nt">&gt;</span>
            Read More <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>about charts<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"hd-6 example-set-hd"</span><span class="nt">&gt;</span>Success Alert with Title and Message<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"example-set"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span> <span class="na">aria-labelledby=</span><span class="s">"alert-title-success"</span> <span class="na">tabindex=</span><span class="s">"-1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon alert-icon icon-check"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-message"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"alert-title"</span> <span class="na">id=</span><span class="s">"alert-title-success"</span><span class="nt">&gt;</span>
                We've received your essay submission!
            <span class="nt">&lt;/h3&gt;</span>

            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-copy-with-title"</span><span class="nt">&gt;</span>
                Hang tight while the rest of the class catches up.  We'll let you know
                when your peers have graded your essay and when you can help grade theirs
                as well.  In the meantime,
                <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"http://example.com"</span><span class="nt">&gt;</span>check out what's next in the course<span class="nt">&lt;/a&gt;</span>.
            <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"hd-6 example-set-hd"</span><span class="nt">&gt;</span>Warning Alert with Title, Message, and Button<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"example-set"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span> <span class="na">aria-labelledby=</span><span class="s">"alert-title-warning"</span> <span class="na">tabindex=</span><span class="s">"-1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon alert-icon icon-warning"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-message-with-action"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"alert-title"</span> <span class="na">id=</span><span class="s">"alert-title-warning"</span><span class="nt">&gt;</span>
                Waiting for Peer Responses
            <span class="nt">&lt;/h3&gt;</span>

            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-copy-with-title"</span><span class="nt">&gt;</span>
                All submitted peer responses have been assessed.  Check back later to see if
                more students have submitted responses.  You'll receive your grade after you've
                completed all the steps for this problem and your peers have assessed your
                responses.
            <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"alert-action btn-neutral btn"</span><span class="nt">&gt;</span>
            Reload <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"sr-only"</span><span class="nt">&gt;</span>peer responses<span class="nt">&lt;/span&gt;</span>
        <span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"hd-6 example-set-hd"</span><span class="nt">&gt;</span>Warning Alert with Message Only<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"example-set"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span> <span class="na">aria-labelledby=</span><span class="s">"alert-warning-publish-title"</span> <span class="na">tabindex=</span><span class="s">"-1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon alert-icon icon-warning"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-message"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"sr-only alert-title"</span> <span class="na">id=</span><span class="s">"alert-warning-publish-title"</span><span class="nt">&gt;</span>
                Caution: The last published version of this unit is live.
            <span class="nt">&lt;/h3&gt;</span>

            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-copy"</span><span class="nt">&gt;</span>
                Caution: The last published version of this unit is live.  By publishing
                changes you will change the student experience.
            <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>

    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"hd-6 example-set-hd"</span><span class="nt">&gt;</span>Information Alert with Title and Message<span class="nt">&lt;/h3&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"example-set"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-information"</span> <span class="na">role=</span><span class="s">"alert"</span> <span class="na">aria-labelledby=</span><span class="s">"alert-title-information"</span> <span class="na">tabindex=</span><span class="s">"-1"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"icon alert-icon icon-bullhorn"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;&lt;/span&gt;</span>

        <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert-message"</span><span class="nt">&gt;</span>
            <span class="nt">&lt;h3</span> <span class="na">class=</span><span class="s">"alert-title"</span> <span class="na">id=</span><span class="s">"alert-title-information"</span><span class="nt">&gt;</span>
                A better measure of total interest in your course
            <span class="nt">&lt;/h3&gt;</span>

            <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"alert-copy-with-title"</span><span class="nt">&gt;</span>
                The total enrollment metric below now includes all students who
                have ever registered for this course.
            <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

                    </div>
                </div>

                <div class="pldoc-tab pldoc-pattern-styling is-hidden" id="alerts-styling" tabindex="-1">
                    <h2 class="pldoc-heading pldoc-tab-heading pldoc-pattern-styling-title">Alerts Style</h2>

                    <div class="pldoc-tab-content">
                        <p class="copy-base">View <a class="pldoc-link" href="https://github.com/edx/ux-pattern-library/blob/master/pattern-library/sass/patterns/_alerts.scss">the original source of the CSS as SCSS</a> in this project's repo.</p>
                    </div>
                </div>
                
                
            </div>
        </div>

    </article>
</section>


                    </main>
                </div>
            </div>
        </div>

        <div class="pldoc-wrapper-footer-site">
    <footer class="pldoc-footer-site">
        <div class="pldoc-footer-site-copyright">
            <p class="pldoc-copy copy-micro">
                Copyright &copy; <time datetime="2016-05-05T10:29:16-04:00">2016</time> edX.
            </p>
            <p class="pldoc-copy copy-micro">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            </p>
            <p class="pldoc-copy copy-micro">
                These works by <a xmlns:cc="http://creativecommons.org/ns#" href="http://open.edx.org" property="cc:attributionName" rel="cc:attributionURL">edX Inc.</a>
                are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>
        </div>
    </footer>
</div>

    </div>

    <script src="/public/pattern-library.js"></script>

</body>
</html>

